fastapi
uvicorn

# Environment variables
python-dotenv

# HTTP requests between microservices
requests

# ML / DL stack
tensorflow==2.18.0
numpy
joblib

# NLP embeddings
sentence-transformers

# Vector database
chromadb

# Data validation
pydantic
